@font-face {
  font-family: 'Cabin', 'sans-serif';  /* font I downloaded from Google */
  src: url('./assets/Cabin-VariableFont_wdth\,wght.ttf') format('truetype');
}
html {
  background-image: url('./assets/pexels-brady-knoll-5187131.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: visible;
}

/*
HEADER
*/

.header-wrapper {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: #e9e7e8;
}
.header-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-menu {
  position: right;
  font-family: Cabin;
  display: inline-flex;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  grid-gap: .7rem;
}
.h-menu {
  display: flex;
  grid-gap: .5rem;
  align-items: baseline;
  justify-content: flex-end;
  padding-right: 1.2rem;
  padding-bottom: .5rem;
}
button {
  border-radius: 15%;
  border: solid black 1px;
  background-color: rgb(207, 210, 211);
}
#Home:hover {
  color: green;
}
#Forums:hover {
  color: red;
}
#Links:hover {
  color: brown;
}

/*
TITLE AND HOME
*/

h1 {
  font-family: Cabin;
  margin-bottom: 0rem;
  padding-left: 1.4rem;
  padding-top: .5rem;
  padding-bottom: 0rem;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(16, 53, 17);
}
.title {
  position: left;
}
.main-page {
  padding-bottom: 60px;
}
.home-wrapper {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  flex-flow: nowrap;
  height: 60vh;
  width: 100%;
}
.intro {
  overflow: hidden;
  position: relative;
  height: auto;
}
.intro-bg {
  opacity: 0.6;
  position: absolute;
  padding-left: 5rem;
  left: 0;
  top: 0;
  width: 500px;
  height: 300px;
}
.intro-text {
  position: relative;
  font-size: 1.2rem;
  padding: 0rem 2rem;
}

/*
LOGIN/SIGNUP MODAL
*/

.react-portal-wrapper {
  width: 106%;
  height: 106%;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) same as padding, margin etc., */
  background-color: rgba(83, 77, 77, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
  font-size: 2rem;
}
.modal-content {
  width: 70%;
  height: 70%;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
} 
.user {
  color:rgb(255, 255, 255)
}
.pass {
  color: white;
}
.login,.register {
  justify-content: right;
}
.m-contents {
  display: flex;
  justify-content: flex-end;
}

/*
FOOTER
*/

.footer-wrapper {
  background-color: rgb(57, 28, 11);
  color: grey;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

/*
FORUM
*/

.rules {
  font-family: Cabin;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 1.2rem;
}
.rules-list {
  font-family: Cabin;
  font-size: 1rem;
  padding-left: 5rem;
}
.forum-container {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.forum-title {
  padding-left: 2rem;
}
.forum-post {
  list-style: none;
  padding-left: 2rem;
}
.accordion-header {
  font-size: 3rem;
  background-color:rgb(107, 150, 107);
}
.accordion-button {
  font-family: Cabin;
  font-size: 1.5rem;
}

/*
POSTS
*/

.post-input {
  size: 30%;
}

/*
RESOURCES
*/

.resource-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resources {
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
.links {
  color: forestgreen;
  font-family: Cabin;
  font-weight: bold;
  font-size: 2.2rem;
}
.list {
  justify-content: start;
  align-items: center;
  padding-top: 1.2rem;
}
.item {
  font-size: 1.5rem;
}
.item:hover {
  color: #37221D;
}
.trail-sign {
  padding-right: 2.5rem;
}
.map {
  width: 550px;
  height: 300px;
  padding-right: 3.5rem;
}
.trail-map {
  height: 95%;
  width: 95%;
  padding: 2.5%
}