html {
  background-color: burlywood;
}
.header-wrapper {
  display: 'flexbox';
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  background-color: aquamarine;
}
.header-menu {
  display: flex;
  padding-right: 1.2rem;
  font-size: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  grid-gap: .5rem;
}
h1 {
  margin-bottom: 0rem;
  padding-left: 1.4rem;
  padding-top: .5rem;
  padding-bottom: 0rem;
  font-size: 2.5rem;
  color: rgba(12, 85, 13, 0.5);
}
.h-menu {
  display: flex;
  grid-gap: .5rem;
  align-items: baseline;
  justify-content: flex-end;
  padding-right: 1.2rem;
  padding-bottom: .5rem;
}
button {
  border-radius: 15%;
  border: solid black 1px;
  background-color: lightblue;
}
.main-page {
  padding-bottom: 60px;
}
.react-portal-wrapper {
  width: 106%;
  height: 106%;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) same as padding, margin etc., */
  background-color: rgba(83, 77, 77, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
  font-size: 2rem;
}
.modal-content {
  width: 70%;
  height: 70%;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
} 
.footer-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
.user {
  color:rgb(255, 255, 255)
}
.pass {
  color: white;
}

.login, .register {
  justify-content: right;
}
.m-contents {
  display: flex;
  justify-content: flex-end;
}
/*
.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}
*/